<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Design 1</title>
    <link rel="preload" href="../assets/css/style.css" as="style">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    
    <div id="main">
        <!-- topbar  -->
        <div id="topbar">
            <p class="my-0 fw-bold fs_6 text-center text-uppercase">Free Shipping on orders over $100</p>
        </div>
        <!-- introheading -->
        <div id="introheading">
            <p class="fs-3 text-center my-0 spacing_1">96% Said Their Skin Felt Instantly <span class="fst_italic fst-italic">Hydrated & Nourished</span></p>
        </div>
        <!-- header  -->
        <header>
            <div class="row m-0 align-items-center h-100">
                <div class="col-lg-6 col-md-6 col-12 p-0 h-100 d-md-none d-block">
                    <div class="header_image h-100">
                        <img src="../assets/img/header_image.webp" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header_details">
                        <h1 class="display-5 fw-medium my-1 text-center">6 Ways This Moisturizer Helps You Look Like You’ve Slept Even When You Haven’t</h1>
                        <div class="heading_line mx-auto my-2 mb-3"></div>
                        <p class="fs-3 fw-normal my-2 text-center">Is this the secret to waking up with radiant skin, even on days when you haven’t slept?</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 p-0 h-100 d-md-block d-none">
                    <div class="header_image h-100">
                        <img src="../assets/img/header_image.webp" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </header>   
        <!-- benefits -->
         <section id="benefits">
            <div class="container-lg">
                <!-- ben 1  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/before_after_comparision.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#1.</span>It Helps You Get Your Glow On</h2>
                        <p class="my-3 fs_4">Tired of waking up after a sleepless night feeling rough…only to look in the mirror and look rougher than you feel? </p>
                        <p class="my-3 fs_4">Meet your new game-changer.</p>
                        <p class="my-3 fs_4">Not only does Rest Religion’s Ultimate Glow Moisturizer fight barrier damage and premature aging with its potent blend, but it also works wonders on dullness, leaving your skin noticeably brighter. And that's not all - this moisturizer provides gentle hydration, refreshing your face with a subtle glow that lasts all day.</p>
                        <p class="my-3 fs_4">Plus, its silky smooth texture glides effortlessly onto your skin, penetrating deeply without any greasy residue. With its odorless formula, it's like a breath of fresh air for your skin, leaving you feeling refreshed and looking radiant. And that’s even on your sleepless nights - imagine how well it’ll work paired with some proper beauty sleep.</p>
                    </div>
                </div>
                <!-- ben 2  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center d-lg-none d-block">
                        <img src="../assets/img/product_details.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#2.</span>It’s the Most Potent Formula Around</h2>
                        <p class="my-3 fs_4">Looking for a moisturizer that does it all? With a comprehensive blend of powerhouse ingredients, the Ultimate Glow Moisturizer delivers everything your skin needs in one potent package.</p>
                        <p class="my-3 fs_4">Say goodbye to the days of juggling multiple serums and lotions. This all-in-one moisturizer features a high-concentration of powerful ingredients. From ceramides that restore the skin barrier to peptides that combat lines and texture, every component works synergistically to enhance your skin's health and appearance.</p>
                        <p class="my-3 fs_4">Hyaluronic acid and hibiscus provide deep hydration, while niacinamide improves texture and imparts a radiant glow. Plus, panthenol steps in to maintain firmness, ensuring your skin stays looking youthful and supple. With this potent formula in your arsenal, achieving your skincare goals has never been easier!</p>
                    </div>
                    <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center d-lg-block d-none">
                        <img src="../assets/img/product_details.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                </div>
                <!-- ben 3  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/product_quality_check.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#3.</span>There’s No Harsh Dyes, Fragrances, or Damaging Toxins</h2>
                        <p class="my-3 fs_4">Rest Religion's Ultimate Glow Moisturizer isn't just effective; it's also gentle on your skin! Formulated with a commitment to purity, it’s free from harsh or damaging toxins that can irritate sensitive skin.</p>
                        <p class="my-3 fs_4">You won't find any fragrances, dyes, or parabens in this formula. Instead, it relies on clean, skin-loving ingredients that cater to all skin types, including sensitive ones. Whether you're dealing with dryness, redness, or irritation, you can trust that this moisturizer will provide the gentle care your skin deserves.</p>
                        <p class="my-3 fs_4">Designed with sensitivity in mind, it's the perfect choice for those who are prone to reactions or have struggled to find a moisturizer that works for them. </p>
                    </div>
                </div>
                <!-- ben 4  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center d-lg-none d-block">
                        <img src="../assets/img/girl_withproduct_on_face.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#4.</span>It’s Luxuriously Lightweight</h2>
                        <p class="my-3 fs_4">Introducing the “featherweight” champion of your skincare routine! One of the standout features of Rest Religion's Ultimate Glow Moisturizer is its luxurious texture. Unlike other moisturizers that can feel heavy or greasy on the skin, this formula has a lightweight consistency that absorbs quickly and effortlessly.</p>
                        <p class="my-3 fs_4">Designed to provide hydration without weighing you down, this moisturizer glides onto the skin smoothly, leaving behind a silky smooth finish. Its light, creamy texture spreads easily, ensuring even coverage without any residue or buildup.</p>
                        <p class="my-3 fs_4">And whether you're applying it in the morning before makeup or as part of your nighttime regimen, you'll appreciate its fast-absorbing formula that never pills or interferes with your other products.</p>
                        <p class="my-3 fs_4">Say goodbye to moisturizers that sit on top of your skin or settle into fine lines. With Rest Religion's Ultimate Glow Moisturizer, you can enjoy a hydrating experience that feels as luxurious as it looks.</p>
                    </div>
                    <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center d-lg-block d-none">
                        <img src="../assets/img/girl_withproduct_on_face.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                </div>
                <!-- ben 5  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/product_closeup.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="spacing_2 fs-1"><span class="fst_italic fst-italic me-1">#5.</span>It’s Got Packaging You Won’t Lose Sleep Over</h2>
                        <p class="my-3 fs_4">Tired of wondering if your skincare packaging is taking up space in a landfill?</p>
                        <p class="my-3 fs_4">The Ultimate Glow Moisturizer comes in a dispenser, ensuring easy and mess-free application. No more dealing with clumsy jars or wasteful pumps thanks to practical and elegant packaging.</p>
                        <p class="my-3 fs_4">With its push-down method on the top of the container, you can dispense the “just-right” amount of moisturizer. This reduces product waste so that you can make every drop count.</p>
                        <p class="my-3 fs_4">It also minimizes exposure to air and light, so your moisturizer stays fresh and potent with every use.</p>
                    </div>
                </div>
                <!-- ben 4  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center d-lg-none d-block">
                        <img src="../assets/img/product_benefits.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#6.</span>It’s Vegan & Cruelty Free</h2>
                        <p class="my-3 fs_4">As a Leaping Bunny-approved product, you can trust that it's cruelty-free and never tested on animals. </p>
                        <p class="my-3 fs_4">This commitment to ethical practices extends to every aspect of its production, ensuring that no harm is done to furry friends in the pursuit of beauty.</p>
                        <p class="my-3 fs_4">And it's not just the animals that benefit - this vegan formula is also environmentally friendly. By choosing a product that's free from animal-derived ingredients and has eco-friendly packaging, you're reducing your carbon footprint and helping to protect the planet for future generations.</p>
                        <p class="my-3 fs_4">So, if you're ready to glow guilt-free, the Ultimate Glow Moisturizer is the perfect choice for your skincare routine.</p>
                    </div>
                    <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center d-lg-block d-none">
                        <img src="../assets/img/product_benefits.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                </div>
                <!-- banner  -->
                <div id="banner">
                    <img src="../assets/img/black_girl_with_product.webp" class="img-fluid" alt="">
                </div>
                <!-- overview  -->
                <div id="overview">
                    <h2 class="text-center fs-1">
                        With Moisturizer Like This, <span class="fst_italic fst-italic">Who Needs Beauty Sleep?</span>
                    </h2>
                    <div class="row my-4 align-items-center">
                        <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center">
                            <img src="../assets/img/product_image.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                        </div>
                        <div class="col-lg-6 col-12 my-2">
                            <ul class="list">
                                <li class="my-2">Restore your skin's radiance</li>
                                <li class="my-2">Combat damage and premature aging</li>
                                <li class="my-2">Noticeably brighter complexion</li>
                                <li class="my-2">Refreshed, glowing skin</li>
                                <li class="my-2">Silky smooth finish</li>
                                <li class="my-2">Odorless formula</li>
                            </ul>
                            <button class="buy_btn rounded">Get your glow on</button>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>