<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Design 3</title>
    <link rel="preload" href="../assets/css/style.css" as="style">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" as="font" type="font/woff2" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    
    <div id="main">
        <!-- topbar  -->
        <div id="topbar">
            <p class="my-0 fw-bold fs_6 text-center text-uppercase">Free Shipping on orders over $100</p>
        </div>
        <!-- introheading -->
        <div id="introheading">
            <p class="fs-3 text-center my-0 spacing_1">96% Said Their Skin Felt Instantly <span class="fst_italic fst-italic">Hydrated & Nourished</span></p>
        </div>
        <!-- header  -->
        <header style="background: url(../assets/img/Rectangle\ 225.webp) center; background-size: cover;">
            <div class="row m-0 align-items-center justify-content-center h-100">
                <div class="col-12 col-lg-7 col-md-9">
                    <div class="header_details">
                        <h1 class="display-5 my-1 text-center">6 Reasons Why Rest Religion's Duo Bundle <span class="fst-italic fst_italic">Could Be Your Skincare Game-Changer</span></h1>
                        <div class="heading_line mx-auto my-3"></div>
                        <p class="fs-4 my-2 text-center" style="max-width: 550px;">Could just two products revolutionize your entire skincare routine? A rapidly growing number of glowing reviews say yes.</p>
                    </div>
                </div>
            </div>
        </header>   
        <!-- benefits -->
         <section id="benefits">
            <div class="container-lg">
                <!-- ben 1  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/white_girl_with_product.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#1.</span>It’ll Transform Your Texture</h2>
                        <p class="my-3 fs_4">Ever struggled with a complexion that feels more like a topographical map than smooth, touchable skin? Large pores and uneven texture can seem like stubborn guests that just won’t leave. Enter Rest Religion’s Duo Bundle, your skincare bouncers, showing rough skin the door.</p>
                        <p class="my-3 fs_4">The power duo - the Retinal Skin Restoring Serum paired with the Ultimate Glow Moisturizer - dives deep into your skin’s layers, minimizing pores and smoothing out those annoying rough patches. It’s not just about making your skin look good in the moment; it’s about training your skin to maintain that clarity and smoothness long-term.</p>
                        <p class="my-3 fs_4">Imagine running your hand across your face and feeling nothing but softness. That’s the promise of consistent care with Rest Religion products, suitable for every skin type. Whether your skin is dry, oily, or combination, the Duo Bundle adapts, delivering clear, soft results that feel like a new beginning.</p>
                        <p class="my-3 fs_4">It’s like hitting the reset button on your skin’s texture, making large pores and roughness a thing of the past. And, with the included Sleeping Beauty Silk Pillowcase, these benefits extend through the night, working to keep your skin soft and clear while you sleep.</p>
                    </div>
                </div>
                <!-- ben 2  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/Group 1729.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#2.</span>It Creates That Restful Glow, Whether You Got Beauty Sleep Or Not</h2>
                        <p class="my-3 fs_4">Tired of skin that looks as if it's never seen a wink of sleep? Dull, lifeless skin can make you feel less than your best. Rest Religion’s Duo Bundle is here to banish the blahs and boost your skin’s natural glow.</p>
                        <p class="my-3 fs_4">Armed with the Retinal Skin Restoring Serum and Ultimate Glow Moisturizer, this skincare pair penetrates deeply to revive your skin’s natural brightness. These products are infused with ingredients that illuminate and nourish your skin. This leaves you with a deep, enduring glow.</p>
                        <p class="my-3 fs_4">The change is palpable - not just visible, but touchable. Soft, luminous skin that looks as rested and radiant as if you've just returned from a spa retreat.</p>
                        <p class="my-3 fs_4">This is the restful glow that Rest Religion promises. And, as you rest each night on the included silk pillowcase, you’re extending this luxurious treatment around the clock, so that you wake up looking as radiant as you feel.</p>
                    </div>
                </div>
                <!-- ben 3  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/Rest_Religion_Model_3.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#3.</span>It’s a Tall Drink of Water…For Your Skin!</h2>
                        <p class="my-3 fs_4">It’s time to transform parched, rough textures into a soft, hydrated haven. The Duo Bundle is your secret weapon against dry, cracked skin, infusing it with deep, lasting moisture.</p>
                        <p class="my-3 fs_4">The Retinal Skin Restoring Serum and Ultimate Glow Moisturizer are packed with hydrating heroes like Hyaluronic Acid and Ceramides that plump up your skin, leaving it feeling refreshed and revitalized. These moisturizing marvels dive deep into your skin layers to replenish and retain vital hydration.</p>
                        <p class="my-3 fs_4">Plus, the free Sleeping Beauty Silk Pillowcase complements this hydration therapy by ensuring that your skincare products work their magic overnight. Unlike traditional cotton or satin pillowcases, silk helps maintain the skin’s moisture levels, keeping your face more hydrated and letting your serum and moisturizer work their magic.</p>
                    </div>
                </div>
                <!-- ben 4  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/before_after_comparision.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#4.</span>It Smooths Out Your Uneven Skin Tone!</h2>
                        <p class="my-3 fs_4">Dark spots, discoloration, uneven skin tones…sometimes when we look in the mirror, it feels like 5 different people are looking back at us! Luckily, with the Duo Bundle, harmonizing your complexion has never been easier.</p>
                        <p class="my-3 fs_4">No more juggling separate creams for day and night or spot treatments that promise the world but never deliver. The Duo Bundle brings your thousand-step skincare routine together with just two products. The serum and moisturizer products are rich in active ingredients like Encapsulated Retinal, Bio-retinol, and Niacinamide, which are celebrated for their ability to brighten skin, fade dark spots, and even out pigmentation.</p>
                        <p class="my-3 fs_4">It's simple. Apply the serum and moisturizer consistently, and watch as your skin transforms, becoming clearer and more radiant. This daily regimen erases hyperpigmentation, leaving your complexion smooth and uniformly toned.</p>
                    </div>  
                </div>
                <!-- ben 5  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/Rectangle 327 (2).jpg" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#5.</span>It’s Tailored For Every Skin Type</h2>
                        <p class="my-3 fs_4">Rest Religion’s Duo Bundle suits your sensitive side, making peace with every skin type out there.</p>
                        <p class="my-3 fs_4">Crafted without fragrances, dyes, and parabens, this duo is the skincare equivalent of a breath of fresh air for your face. It’s designed to be ultra-gentle, ensuring that even the most sensitive skin types can enjoy the benefits without hesitation. Whether you're oily, dry, or somewhere beautifully in between, these products adjust to meet your skin’s unique needs with grace.</p>
                        <p class="my-3 fs_4">And it doesn’t stop there. The included Sleeping Beauty Silk Pillowcase is hypoallergenic, preventing allergens like dust mites and skin flakes from gathering. This means you're not just getting a skincare solution but an all-around healthier sleeping environment… And that means getting a headstart on healthier skin as soon as you wake up!</p>
                    </div>
                </div>
                <!-- image slider  -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/img/before_after_comparision.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/img/Rectangle 326.webp" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/img/Rectangle 327 (3).webp" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/img/5.webp" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/img/before_after_comparision.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/img/Rectangle 326.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="swiper_controls swiper-button-next"></div>
                    <div class="swiper_controls swiper-button-prev"></div>
                </div>
                <!-- ben 6  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/product_details.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#6.</span>More Hero Ingredients Than Any Other Skincare Brand</h2>
                        <p class="my-3 fs_4">Imagine a skincare regimen so complete, you'd never have to spend money on another serum or lotion again. That's why the Duo Bundle is loaded with every hero ingredient you need. No more endless blending of various products each morning and night. This bundle simplifies your skincare into a streamlined, potent duo that covers all bases.</p>
                        <p class="my-3 fs_4">Encased in this potent duo are the heavy hitters of the skincare world. Think Encapsulated Retinal, which dives deep to smooth fine lines with the precision of a dermatologist’s needle, and Bio-retinol, a plant-powered hero that gently persuades your skin towards its firmest, clearest self.</p>
                        <p class="my-3 fs_4">Not to be outdone, MATRIXYL&reg; steps up as the peptide powerhouse, visibly vanishing wrinkles and boosting skin's own rebuilding efforts. Hyaluronic Acid and organic Hibiscus extract saturate your skin with moisture, locking it in for an all-day dewy glow, while Ceramides fortify your skin’s defenses against environmental onslaughts.</p>
                        <p class="my-3 fs_4">Niacinamide brightens and evens out skin tone, banishing blotches and discolorations. And Panthenol ensures your skin’s texture stays supple and smooth, ready for any close-up.</p>
                        <p class="my-3 fs_4">Plus the included silk pillowcase guarantees these skin-loving ingredients don’t wander off into the night on your pillow. Instead they stay on your skin, working tirelessly through the night.</p>
                    </div>
                </div>
                <!-- overview  -->
                <div id="overview">
                    <p class="my-0 mt-3 fw-bold fs_5 text-center text-uppercase">The Rest Religion Duo Bundle + Free Silk Pillowcase</p>
                    <h2 class="text-center mt-1 mb-3 display-5">Free Silk Pillowcase with Your Serum & Moisturizer Duo</h2>
                    <div class="row my-4 align-items-center">
                        <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center">
                            <img src="../assets/img/image 258 (1).webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                        </div>
                        <div class="col-lg-6 col-12 my-2">
                            <ul class="list">
                                <li class="my-2 fw-medium">Tackles fine lines and wrinkles</li>
                                <li class="my-2 fw-medium">Deeply hydrates and nourishes</li>
                                <li class="my-2 fw-medium">Evens out skin tone</li>
                                <li class="my-2 fw-medium">Enhances skin firmness</li>
                                <li class="my-2 fw-medium">Gentle yet effective formula</li>
                                <li class="my-2 fw-medium">Perfect for all skin types</li>
                            </ul>
                            <button class="buy_btn rounded">Try the Rest Religion Duo Today</button>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
          <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper=new Swiper(".mySwiper",{slidesPerView:1,spaceBetween:10,loop:!0,navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev"},breakpoints:{475:{slidesPerView:1.5,spaceBetween:10},640:{slidesPerView:2,spaceBetween:10},768:{slidesPerView:2.3,spaceBetween:15},1024:{slidesPerView:3,spaceBetween:25}}});
    </script>
</body>

</html>