<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Design 2</title>
    <link rel="preload" href="../assets/css/style.css" as="style">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    
    <div id="main">
        <!-- topbar  -->
        <div id="topbar">
            <p class="my-0 fw-bold fs_6 text-center text-uppercase">Free Shipping on orders over $100</p>
        </div>
        <!-- introheading -->
        <div id="introheading">
            <p class="fs-3 text-center my-0 spacing_1">96% Said Their Skin Felt Instantly <span class="fst_italic fst-italic">Hydrated & Nourished</span></p>
        </div>
        <!-- header  -->
        <header style="background: url(../assets/img/Rectangle\ 225.webp) center; background-size: cover;">
            <div class="row m-0 align-items-center h-100">
                <div class="col-lg-6 col-md-6 col-12 p-0 h-100 d-md-none d-block">
                    <div class="header_image h-100">
                        <img src="../assets/img/before_after_comparision_header.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header_details">
                        <h1 class="display-5 my-1 text-center">5 Ways This <span class="fst-italic fst_italic">Ultimate Glow Moisturizer</span> Erases Your Biggest Skin Problems</h1>
                        <div class="heading_line mx-auto my-2 mb-3"></div>
                        <p class="fs-4 my-2 text-center" style="max-width: 450px;">Hydrate parched skin, plump up wrinkles, diminish dullness and discoloration…with ONLY a moisturizer?! Yup, it’s possible with Rest Religion’s Ultimate Glow Moisturizer!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 p-0 h-100 d-md-block d-none">
                    <div class="header_image h-100">
                        <img src="../assets/img/before_after_comparision_header.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </header>   
        <!-- benefits -->
         <section id="benefits">
            <div class="container-lg">
                <!-- ben 1  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/image 256.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#1.</span>No More Dry, Dull, Stressed Skin</h2>
                        <p class="my-3 fs_4">If you’ve dealt with dry, dull, or stressed skin then know it can be a real b*tch to treat!</p>
                        <p class="my-3 fs_4">Do you reach for aloe vera? Slather with petroleum jelly? Exfoliate? Or should you layer up on masks and products…and risk irritating your skin even more?!</p>
                        <p class="my-3 fs_4">Rest Religion offers a blissful break from the hustle of the world…and the hassle of skincare!</p>
                        <p class="my-3 fs_4">Ultimate Glow Moisturizer <span class="fw-bold">addresses dryness</span> with a combination of:</p>
                        <ul class="my-3">
                            <li class="my-2 fw-medium fs_5"><span class="fw-bold">Hyaluronic Acid</span>, to pull water deep into the skin</li>
                            <li class="my-2 fw-medium fs_5"><span class="fw-bold">Panthenol</span>, to decrease water loss & lock in moisture</li>
                            <li class="my-2 fw-medium fs_5"><span class="fw-bold">Organic Hibiscus Extract</span>, for both immediate & long-term moisture</li>
                        </ul>
                        <p class="my-3 fs_4">But that’s not all! Dullness is a thing of the past, thanks to Niacinamide’s discoloration-fighting power.</p>
                        <p class="my-3 fs_4">Top it all off with Amino Acids and Ceramides to strengthen the skin barrier…</p>
                        <p class="my-3 fs_4">And Rest Religion's Ultimate Glow Moisturizer will give you the plump, glowy skin of your dreams!</p>
                    </div>
                </div>
                <!-- ben 2  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/Rectangle 327.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#2.</span>Forget Fine Lines & Wrinkles</h2>
                        <p class="my-3 fs_4">You might not think that a moisturizer can minimize fine lines and wrinkles. That’s a job for retinols, fillers, and ‘tox, right?</p>
                        <p class="my-3 fs_4">Nope! Ultimate Glow Moisturizer has a powerful <span class="fw-bold">anti-wrinkle peptide, called MATRIXYL synthe’6. </span></p>
                        <p class="my-3 fs_4">MATRIXYL synthe’6 helps your skin produce <span class="fw-bold">6 of the main building blocks</span> that form your skin’s <span class="fw-bold">matrix</span>.</p>
                        <p class="my-3 fs_4">So it <span class="fw-bold">boosts the synthesis of hyaluronic acid, collagen, and other compounds</span> that plump up and fill out your skin.</p>
                        <p class="my-3 fs_4">The result? Your skin learns how to take better care of itself. And you’ll see <span class="fw-bold">fewer wrinkles, smoother texture</span>, and a more <span class="fw-bold">youthful overall appearance</span>.</p>
                    </div>
                </div>
                <!-- ben 3  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/image 258.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#3.</span>Protect Your Skin From Future Damage</h2>
                        <p class="my-3 fs_4">If you’re interested in skincare, you’ve probably heard the term skin barrier thrown around. So what’s the big deal?</p>
                        <p class="my-3 fs_4">Your <span class="fw-bold">outermost layer of skin is called the stratum corneum, AKA the skin barrier.<sup>2</sup></span> Under a microscope, it looks like a layer of bricks with mortar between them. </p>
                        <p class="my-3 fs_4">The “bricks” are skin cells, and the “mortar” is made up of compounds like cholesterol, ceramides, and fatty acids.</p>
                        <p class="my-3 fs_4">BUT… <span class="fw-bold">the gaps between your skin cells can get damaged or leaky. </span></p>
                        <p class="my-3 fs_4">That means <span class="fw-bold">irritants and toxins can get into your skin, and moisture leaks out!</span></p>
                        <p class="my-3 fs_4">Thankfully, Ultimate Glow Moisturizer is focused on skin barrier restoration.</p>
                        <p class="my-3 fs_4">The Ceramides in the formula are a “skin-identical lipid mixture” that restores your skin barrier. It essentially fills in the cracks in your skin, <span class="fw-bold">preventing moisture loss and stopping pollutants and irritants</span> from getting in. </p>
                        <p class="my-3 fs_4">Amino Acids and Organic Hibiscus also improve barrier function. They <span class="fw-bold">increase water content and seal in hydration for up to 72 hours.</span></p>
                        <p class="my-3 fs_4">Because a strong barrier is *key* for healthy skin and a glowing complexion!</p>
                    </div>
                </div>
                <!-- ben 4  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/Rectangle 327 (1).webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#4.</span>Lift & Firm Your Skin</h2>
                        <p class="my-3 fs_4">Fibroblasts are the main type of cell in connective tissue and skin. In fact, studies show that <span class="fw-bold">dermal fibroblasts are the main target of anti-aging skin treatments.<sup>3</sup></span> So…</p>
                        <p class="my-3 fs_4">You DEFINITELY want healthy fibroblasts!</p>
                        <p class="my-3 fs_4">Rest Religion's Ultimate Glow Moisturizer uses a powerful, deep-penetrating type of Panthenol that targets fibroblasts. </p>
                        <p class="my-3 fs_4"><span class="fw-bold">It helps your skin make more fibroblast cells</span> as well as strengthening existing fibroblasts.</p>
                        <p class="my-3 fs_4">The result? <span class="fw-bold">You’ll see firmer, tighter skin, with less sagging and wrinkling.</span></p>
                    </div>  
                </div>
                <!-- ben 5  -->
                <div class="row my-lg-5 my-3">
                    <div class="col-lg-6 col-md-8 col-12 my-2 text-center mx-auto">
                        <img src="../assets/img/product_details.webp" width="auto" height="auto" class="img-fluid" alt="product material">
                    </div>
                    <div class="col-lg-6 col-12 my-2">
                        <h2 class="fs-1"><span class="fst_italic fst-italic me-1">#5.</span>Proven to Work Through Scientific Studies</h2>
                        <p class="my-3 fs_4">With skincare, results matter. That’s why Rest Religion is PACKED with more hero ingredients that are proven in clinical studies.</p>
                        <p class="my-3 fs_4">Organic Hibiscus Extract has been shown to <span class="fw-bold">increase skin hydration by UP TO +190%.</span></p>
                        <p class="my-3 fs_4">Yes, you read that right. Your skin could feel 190% more hydrated. That’s because it <spab class="fw-bold">prevents up to 60% of water loss from your skin.</spab></p>
                        <p class="my-3 fs_4">It provides immediate moisturization that lasts for up to <span class="fw-bold">72 hours after just ONE application!</span></p>
                        <p class="my-3 fs_4">So those wind-burned cheeks? Chapped winter skin? Parched airplane skin? It’s no match for the hydrating power of Rest Religion’s Ultimate Glow Moisturizer.</p>
                    </div>
                </div>
                <!-- overview  -->
                <div id="overview">
                    <p class="my-0 mt-3 fw-bold fs_6 text-center text-uppercase">Free Shipping over $100</p>
                    <h2 class="text-center mt-1 mb-3 fs-1">Save 10% with your monthly subscription!</h2>
                    <div class="row my-4 align-items-center">
                        <div class="col-lg-6 col-md-8 col-12 my-2 mx-auto text-center">
                            <img src="../assets/img/product_image.webp" width="auto" height="auto" class="img-fluid" alt="comparision image">
                        </div>
                        <div class="col-lg-6 col-12 my-2">
                            <ul class="list">
                                <li class="my-2">Strengthen your skin barrier</li>
                                <li class="my-2">Stop moisture loss</li>
                                <li class="my-2">Deep hydration for 72 hours</li>
                                <li class="my-2">Clinically proven</li>
                                <li class="my-2">Works on all skin types</li>
                                <li class="my-2">Diminishes dullness</li>
                                <li class="my-2">Improves texture & fine lines</li>
                                <li class="my-2">Lifts & tightens</li>
                            </ul>
                            <button class="buy_btn rounded">GET ULTIMATE GLOW MOISTURIZER</button>
                            <p class="my-2 save_title mx-auto text-center"><span class="fw-semibold">Limited time offer:</span> save on subscriptions & earn FREE shipping!</p>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>